
<nav class="flex justify-between py-15 m-auto text-lg font-medium tracking-widest md:items-center">
  <a href=""><img src="port.png" alt="" width="28"></a>
  <div [ngClass]="{'': isSidebarOpen, 'hidden': !isSidebarOpen}" id="menu" class="bg-white dark:bg-slate-800 p-7 h-[380px] w-[320px] md:flex flex-col items-start 
  justify-around rounded-lg text-dark dark:text-white md:flex-row md:w-full md:py-0 md:h-[50px] md:bg-inherit md:dark:bg-primary">
    <ul class="flex flex-col h-5/6 justify-around md:flex-row md:justify-center w-full">
      <li class="md:px-5 hover:text-sky-600"><a class="links" href="">Inicio</a></li>
      <li class="md:px-5 hover:text-sky-600"><a class="links" href="">Sobre mi</a></li>
      <li class="md:px-5 hover:text-sky-600"><a class="links" href="">Proyectos</a></li>
      <li class="md:px-5 hover:text-sky-600"><a class="links" href="">Contacto</a></li>
    </ul>
    <!-- dark mode -->
    <button (click)="toggleDarkMode()" id="darkButton" >
      <mat-icon class="hover:bg-amber-300">star</mat-icon>
    </button>
    
    <!-- menu hamburguesa -->
     
     <!-- fin menu -->
  </div>
  <button id="menuButton" (click)="isSidebarOpen = !isSidebarOpen" class="absolute top-15 right-12 md:hidden">
       <mat-icon class="hover:bg-amber-300">menu</mat-icon>
    </button>
</nav>

<main>
  <section class="my-0 flex flex-col lg:flex-row lg:h-[850px]">
    <div class="p-10 lg:w-[80%] lg:h-[500px] lg:self-center">
      <h1 class="text-sky-600 dark:text-sky-300 text-2xl font-bold tracking-widest leading-10">Hola, soy</h1>
      <p class="py-2 text-3xl font-bold text-slate-600 dark:text-slate-300 ">Edgardo Cruz</p>
      <p class="text-3xl font-bold text-slate-500 dark:text-slate-600">Desarrollador front</p>
      <p class="mt-5 text-lg">parrafo lorem ipsum</p>
      <div class="py-6">
        <a href="" class="pr-2 text-2xl hover:text-sky-600"> <i class="bi bi-github px-2"></i></a>
        <a href="" class="pr-2 text-2xl hover:text-sky-600"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
    <!-- contenedor de imagen-->
    <div class="my-10 w-full">
       <div class="w-[300px] h-[300px] m-auto bg-[url('/logo.png')] lg:bg-[url('/logo.png')] 
       bg-cover rounded-lg lg:w-[100%] lg:h-[100%] lg:bg-center lg:bg-no-repeat "></div>
    </div>
  </section>

  <!-- Sobre mi menu-->
  <h2 class="text-3xl text-slate-700 dark:text-white font-bold tracking-widest w-[85%] m-auto text-center pt-8">Sobre mi</h2>
  <section class="my-12 flex flex-col w-[84%] m-auto lg:flex-row lg:w-[87%] lg:my-28" id="jobSection">
    <div class="flex justify-between lg:flex-col lg:w-[20%]">
      <!-- <button type="button" id="link1" data-id="job1" class="border-b-2 hover:dark:bg-slate-700 w-full px-4 py-1 hover:bg-white focus:bg-white 
      focus:border-sky-500 focus:dark:bg-slate-700 lg:border-l-2 lg:border-b-0 lg:h-full lg:text-left border-sky-500 dark:bg-slate-700">
        Menu 1
      </button>
      <button type="button" id="link2" data-id="job2" class="border-b-2 hover:dark:bg-slate-700 w-full px-4 py-1 hover:bg-white focus:bg-white 
      focus:border-sky-500 focus:dark:bg-slate-700 lg:border-l-2 lg:border-b-0 lg:h-full lg:text-left">menu 2</button>
      <button type="button" id="link3" data-id="job3" class="border-b-2 hover:dark:bg-slate-700 w-full px-4 py-1 hover:bg-white focus:bg-white 
      focus:border-sky-500 focus:dark:bg-slate-700 lg:border-l-2 lg:border-b-0 lg:h-full lg:text-left">menu 3</button>
      <button type="button" id="link4" data-id="job4" class="border-b-2 hover:dark:bg-slate-700 w-full px-4 py-1 hover:bg-white focus:bg-white 
      focus:border-sky-500 focus:dark:bg-slate-700 lg:border-l-2 lg:border-b-0 lg:h-full lg:text-left">menu 4</button> -->
      <button *ngFor="let article of articles" class="border-b-2 hover:dark:bg-slate-700 w-full px-4 py-1 hover:bg-white focus:bg-white 
      focus:border-sky-500 focus:dark:bg-slate-700 lg:border-l-2 lg:border-b-0 lg:h-full lg:text-left border-sky-500 dark:bg-slate-700"
      (click)="showArticle(article.id)" >
      {{article.title}}
    </button>
    </div>
    <div class="my-5 lg:px-10 lg:my-0 lg:max-w-[800px]">
      <!-- descripcion de trabajo-->

      <article *ngFor="let article of articles" [class.hidden]="activeArticle !== article.id">
        <h3>Descripcion <span class="text-sky-500 font-bold text-lg">{{article.title}}</span></h3>
        <ul>
          <!-- <li *ngFor="let item of article.content" class="flex items-center py-2">
          <span class="pr-2 text-sky-500 font-black">&#9655;</span>
          <p>{{item.content1}}</p> 
          </li>
        -->
          <li *ngFor="let item of article.content" class="flex items-center py-2">
            
            <p><span class="pr-2 text-sky-500 font-black">&#9655;</span>{{ item.content1}}</p>
            <p><span class="pr-2 text-sky-500 font-black">&#9655;</span>{{ item.content2}}</p>
            <p><span class="pr-2 text-sky-500 font-black">&#9655;</span>{{ item.content3}}</p>    
          </li>
        </ul>

      </article>
      <!-- <article id="{{articles.id}}">
        <h3>Descripcion <span class="text-sky-500 font-bold text-lg">Menu 1</span></h3>
          <h4 class="text-sm pb-5">Fecha con rango</h4>
            <ul>
              <li class="flex items-center py-2">
              <span class="pr-2 text-sky-500 font-black">&#9655;</span>
              <p>
                  parrafo descriptivo de mis trabajos
              </p>
              </li>
            </ul>
        </article> -->
      <!-- 
      <article id="job2" class="hidden">
      <h3>Descripcion 2 <span> alguito2</span>
        <h4> Fecha con rango</h4>
        <ul>
          <li class="flex items-center py-2">
            <span class="pr-2 text-sky-500 font-black">&#9655;</span>
            <p>
              Parrafo descriptivo de mis trabajos
            </p>
          </li>
        </ul>
      </h3>
      </article>
      <article id="job3" class="hidden">
      <h3>Descripcion <span class="text-sky-500 font-bold text-lg">Menu 1</span></h3>
      <h4 class="text-sm pb-5">Fecha con rango</h4>
      <ul>
        <li class="flex items-center py-2">
         <span class="pr-2 text-sky-500 font-black">&#9655;</span>
          <p>
            parrafo descriptivo de mis trabajos
          </p>
        </li>
      </ul>
      </article>
      <article id="job3" class="hidden">

      <h3>Descripcion <span class="text-sky-500 font-bold text-lg">Menu 1</span></h3>
      <h4 class="text-sm pb-5">Fecha con rango</h4>
      <ul>
        <li class="flex items-center py-2">
          <span class="pr-2 text-sky-500 font-black">&#9655;</span>
          <p>
            parrafo descriptivo de mis trabajos
          </p>
        </li>
      </ul>
    </article>
    -->
    </div>
  </section> 

  <!-- seccion de proyectos-->
  <h3 class="text-3xl text-slate-700 dark:text-white my-5 px-12 font-bold tracking-widest md:text-center">Proyectos</h3>
  <!-- Para copiar la card completa, se debe copiar este section-->
  <section class="my-12 flex flex-col items-center justify-center w-[90%] m-auto lg:flex-row">
    <div class="border-1 rounded-lg bg-white dark:bg-slate-800 m-5">
      <div class="m-2">
        <img src="./profile.webp" alt="" class="opacity-80 hover:opacity-100 h-64 ">
        <h4 class="font-bold my-2">Nombre ultima experiencia laboral</h4>
        <article class="flex justify-between">
          <div class="flex flex-nowrap items-center">
            <span class="bg-slate-200 rounded-lg px-2 mr-2 text-slate-700">HTML</span>
            <span class="bg-slate-200 rounded-lg px-2 mr-2 text-slate-700">CSS</span>
            <span class="bg-slate-200 rounded-lg px-2 mr-2 text-slate-700">JS</span>
          </div>
          <div class="text-xl text-slate-600 dark:text-slate-200 pr-2 flex flex-nowrap">
            <a href="" ><i class="bi bi-github px-2"></i></a>
            <a href=""><i class="bi bi-eye px-2"></i></a>  
          </div>
        </article>
      </div>
    </div>
  </section>

  <!-- Seccion de contacto-->

  <h3 class="text-3xl text-slate-700 dark:textwhite mt-12 mb-10 px-10 font-bold tracking-widest text-center">Contacto</h3>
  <section class="flex flex-col w-[90%] m-auto">
    <form class="w-[40%] md:mx-w-[600px] m-auto" action="">
      <div class="py-3"><input placeholder="info@ejemplo.com" type="email" name="email" id="email" class="p-3 w-full rounded-lg focus:outline-none focus:ring focus:ring-blue-400 bg-white"></div>
      <div><textarea name="msj" id="msj" rows="5" placeholder="Mensaje" class="p-3 w-full rounded-lg focus:outline-none focus:ring focus:ring-blue-400 bg-white"></textarea></div>
      <div class="py-3">
        <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="py-3 pl-3 w-full rounded-lg focus:ring focus:ring-blue-400 bg-white">
      </div>
      <div class="my-3">
        <button class="bg-sky-600 text-white p-3 w-full rounded-lg text-xl tracking-widest">Enviar Mensaje</button>
      </div>
    </form>
  </section>
  <footer class="text-center mt-12 mb-5">
    <p class="hover:text-sky-500"> Desarrollo web 2025 </p>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
  </footer>
</main>
<router-outlet></router-outlet>